doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume - Start Bootstrap Theme

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Clarence Taylor
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Awards

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Sunil 
                        span.text-primary Chakravarthy
                    .subheading.mb-5
                        | 11, 2nd Cross, 2nd Main, Gowthampuram, Halasuru, Bengaluru-560008 . (+91) 9731269278 . 
                        a(href='mailto:sunil.chkthy18@outlook.com') sunil.chkthy18@outlook.com
                    p.lead.mb-5
                        | I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
                    .social-icons
                        a.social-icon(href='#!')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='#!')
                            i.fab.fa-github
                        a.social-icon(href='#!')
                            i.fab.fa-twitter
                        a.social-icon(href='#!')
                            i.fab.fa-facebook-f

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Devops Engineer
                            .subheading.mb-3 NetApp
                            p
                                | Working as an Devops Team Lead taking care of the Azure Devops CI/CD, JFrog Artifactory, Writing Ansible playbook and Bash script for auotomation etc.
                        .flex-shrink-0
                            span.text-primary Decemeber 2014 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Exchange Server Administartor
                            .subheading.mb-3 Microland
                            p
                                | Managing and Supporting Exchange server On-Prem and O365.
                        .flex-shrink-0
                            span.text-primary July 2013 - December 2014

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Server Administartor
                            .subheading.mb-3 Wipro
                            p
                                | Managing and Supporting multiple application and server like AD, Exchange, Lync.
                        .flex-shrink-0
                            span.text-primary July 2011 - July 2013

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 St Joseph College
                            .subheading.mb-3 Bachelor of Commerce 
                            div Account & Finance
                            p First Class
                        .flex-shrink-0
                            span.text-primary June 2008 - March 2011

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 St Joseph's PU College
                            .subheading.mb-3 Commerce
                            p First Class
                        .flex-shrink-0
                            span.text-primary June 2006 - March 2008

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 515 Army Base Workshop School
                            .subheading.mb-3 State Board
                            p First Class
                        .flex-shrink-0
                            span.text-primary March 2004

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-angular
                        li.list-inline-item
                            i.fab.fa-react
                        li.list-inline-item
                            i.fab.fa-node-js
                        li.list-inline-item
                            i.fab.fa-sass
                        li.list-inline-item
                            i.fab.fa-less
                        li.list-inline-item
                            i.fab.fa-wordpress
                        li.list-inline-item
                            i.fab.fa-gulp
                        li.list-inline-item
                            i.fab.fa-grunt
                        li.list-inline-item
                            i.fab.fa-npm
                    .subheading.mb-3 Specialization
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Git, CI/CD Pipeline, JFrog Artifactory, Docker & Kubernetes
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Ansible & Terraform
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Golang
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Git, GitHub & ArgoCD.

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | Apart from being a Devops engineer, I enjoy most of my time being outdoors. Playing Football and Following my favorite team Arsenal footbal matches.
                    p.mb-0
                        | Practicing Yoga and Mediation regularly for physical and mental well being.

            hr.m-0

            // Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Awards & Certifications
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | National level in football
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Microsoft certified profession (MCP) - Microsoft Certification

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')